<style>
	.bb-inline-edit a {
		display: inline-block;
	}
	.bb-inline-edit.bb-active a {
		display: none;
	}
	.bb-inline-edit input {
		display: none;
	}
	.bb-inline-edit.bb-active input {
		display: inline-block;
	}
</style>
<div class="mainContent--site grid">
	<div class="profile__head" style="">
		<article class="grid__item one-quarter portable-one-whole">
			<img src="{{picture.picture.url}}" class="profile__img"><br>
			<span class="bb-inline-edit">
				<a href="#" class="button--blue">Change Picture</a>
				<input type="file" id="" class="" value="{{picture.picture.url}}">
			</span>
		</article>
	
		<section class="profile__name grid__item three-quarters lap-one-whole">
			<h1>{{first_name}} {{last_name}}</h1>
			<h2>{{title}}</h2>
			{{! This needs to be associated to scientist__titles model }}
			<article class="profile__titles grid__item one-half hidden-palm">
					<ul>
						{{#each titles}} %>
							<li>{{title}}</li>
						{{/each}}
					</ul>
			</article>
			<article class="profile__websites grid__item one-half hidden-palm">
				<h4>Websites:</h4>
				<ul>
					{{#each websites}}
						<li><a href="{{url}}">{{name}}</a></li>
					{{/each}}
				</ul>
			</article>
		</section>
	</div>
	<section class="profile__contact grid__item one-third portable-one-whole">
	
		<article class="profile__address grid__item one-whole lap-one-half palm-one-whole">
			<h3>Location Information</h3>
			{{profile.company}}<br>
			{{profile.address1}}<br>
			{{profile.address2}}<br>
			{{profile.city}}, {{profile.state}} {{profile.zip_code}} USA
		</article>
	
		<article class="profile__location grid__item one-whole lap-one-half palm-one-whole">
			<h3>Contact Information</h3>
			Primary Number: {{profile.phone1}}<br>
			{{profile.phone2_type}}: {{profile.phone2}}<br>
			E-Mail: {{profile.email}}<br>
		</article>

	</section>

	<section class=" profile__bio grid__item two-thirds lap-one-whole">

		<article class="profile__emphasis">
			<h3>Research Emphasis:</h3>
			<p>
				{{{profile.emphasis}}}
			</p>
		</article>

		{{#if profile.summary}}
		<article id="scientist__summary" class="profile__summary">
			<h3>Summary:</h3>
			<p>
				{{{profile.summary}}}
			</p>
		</article>
		{{/if}}

	</section>

	{{! if can? :update, @scientist }}
		{{! link_to 'Edit', edit_scientist_path(@scientist) }}
	{{! end }}
	{{! link_to 'Back', scientists_path }}
</div>
