<% content_for :head do %>
    <%= stylesheet_link_tag "gmail-buttons/css3-gmail-style" %>
    <%= stylesheet_link_tag "videos" %>
<% end %>

<section id="all_videos">
    <div class="grouped">
        <div class="bttn icon add video_action top_bttn" name="new" title="Add new video">New Video</div>
        <div class="bttn icon delete video_action" name="delete" title="Delete selected video">Delete</div>
    </div>

    <table cellspacing="0">
        <thead>
            <th><input type="checkbox" name="checkAll" title="Toggle all checkboxes"></th>
            <th></th>
            <th>Video Title</th>
            <th>Scientist</th>
            <th>Date Filmed</th>
            <th>Views</th>
        </thead>
        <tbody>
            <% @videos.each do |video| %>
                <tr class="single-video">
                    <td><input type="checkbox" name="delete" value="<%= video.id %>"></td>
                    <td>
                        <div name="edit" class="bttn icon edit video_action" title="Edit video" data-id="<%= video.id %>">Edit</div>
                    </td>
                    <td><%= video.title %></td>
                    <td><%= video.scientist %></td>
                    <td><%= video.date %></td>
                    <td><%= video.views %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>

<script type="text/javascript">
    //Control which action to do through GET request
    //delete will be ajax
    $('.video_action').on('click', function (evt) {

        var action  = $(this).attr('name'),
            requestURL = "<%= videos_path %>";

        if (action === "new" || action === "edit") {
            //Set url arguments
            if (action === "edit") {
                requestURL += "/" + $(this).attr('data-id') + '/edit';
            } else if (action == "new") {
                requestURL += "/new";
            }

            // console.log(requestURL);
            window.location.href = requestURL;

        } else if (action === "delete") {
            requestType = "POST";
            var toDelete = [];
            //Set URL
            requestURL += '/batch_destroy';
            $('input[name="delete"]:checked').each(function () {
                //IDs of videos to be removed from db added to url
                toDelete.push($(this).attr('value'));
                //Animate remove videos from page
                var $single_video = $(this).closest('tr'); //Get containing tr
                $single_video.fadeOut(600, function(){ $(this).remove();});
            });
            //Do GET request to remove videos from db
            $.ajax({
                type: "POST",
                url: requestURL,
                data: {"ids": toDelete}
            });

        } else {
            //Redirect to video display page if invalid action
            window.location.href = "";
        }
    });

    //If the checkAll box is checked, check all the boxes, and uncheck if checkAll is not checked
    $('input[name="checkAll"]').on('click', function (evt) {
        if ($(this).is(':checked')) {
            $('input[name="delete"]').prop('checked', true);
        } else {
            $('input[name="delete"]').prop('checked', false);
        }
    });
</script>

