<style type="text/css">
	.tile--flat {
		border: #025076 3px solid;
		background: #FAFAFA;
		color: #025076;
		height:150px;
		vertical-align: bottom;
		border-collapse: collapse;
		text-align: left;
		-webkit-transition: color 0.5s;
		-moz-transition: color 0.5s;
		transition: color 0.5s;
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		transition: background 0.5s;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}
	.tile--flat:hover {
		background-color: #025076;
		color: #FAFAFA;
		-webkit-transition: color 0.5s;
		-moz-transition: color 0.5s;
		transition: color 0.5s;
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		transition: background 0.5s;
	}
	.tile--flat .tile__icon {
		position: absolute;
		font-size: 4rem;
		left: 45%;
		top: 100%;
		color: #FAFAFA;
		-webkit-transition: top 0.5s;
		-moz-transition: top 0.5s;
		transition: top 0.5s;

	}
	.tile--flat:hover .tile__icon {
		top:35%;
		-webkit-transition: top 0.5s;
		-moz-transition: top 0.5s;
		transition: top 0.5s;
	}
	.mainFooter {
		z-index: 3;
		position: relative;
	}
</style>

<div class="mainContent--fitted grid" id="mainContent">
	<hgroup class="grid__item one-whole">
		<h1>Welcome to the PBD Portal</h1>
		<h2>The Nervous system of our operations</h2>
	</hgroup>
	<%= link_to scientists_path, :class => "" do %>
		<article class="grid__item one-half portable-one-whole tile--flat">
			<h2>Scientist<br>Profiles</h2>
			<i class="icon-beaker tile__icon"></i>
		</article>
	<% end %>
	<%= link_to news_index_path, :class => "" do %>
		<article class="grid__item one-half portable-one-whole tile--flat">
			<h2>News</h2>
			<i class="icon-rss-sign tile__icon"></i>
		</article>
	<% end %>
	<%= link_to videos_path, :class => "" do %>
		<article class="grid__item one-third portable-one-whole tile--flat">
			<h2>Videos</h2>
			<i class="icon-film tile__icon"></i>
		</article>
	<% end %>
	<%= link_to users_path, :class => "" do %>
		<article class="grid__item two-thirds portable-one-whole tile--flat">
			<h2>Users</h2>
			<i class="icon-user tile__icon"></i>
		</article>
	<% end %>
	<%= link_to "#", :class => "" do %>
		<article class="grid__item one-whole tile--flat">
			<h2>API Docs</h2>
			<i class="icon-book tile__icon"></i>
		</article>
	<% end %>
</div>
