<div class="mainContent--fitted grid" id="mainContent">
	<hgroup class="grid__item one-whole">
		<h1>Welcome to the PBD Portal</h1>
		<h2>The Nervous system of our operations</h2>
	</hgroup>
	<%= link_to scientists_path, :class => "" do %>
		<article class="grid__item two-thirds portable-one-whole tile--flat">
			<h2>Scientist<br>Profiles</h2>
			<i class="icon-beaker tile__icon"></i>
		</article>
	<% end %>
	<%= link_to "#", :class => "" do %>
		<article class="grid__item one-third portable-one-whole tile--flat">
			<h2>Documentation</h2>
			<i class="icon-info-sign tile__icon"></i>
		</article>
	<% end %>
	<% if can? :update, News %>
		<%= link_to news_index_path, :class => "" do %>
			<article class="grid__item one-half portable-one-whole tile--flat">
				<h2>News</h2>
				<i class="icon-rss-sign tile__icon"></i>
			</article>
		<% end %>
	<% end %>
	<% if can? :update, Video %>
		<%= link_to videos_path, :class => "" do %>
			<article class="grid__item one-half portable-one-whole tile--flat">
				<h2>Videos</h2>
				<i class="icon-film tile__icon"></i>
			</article>
		<% end %>
	<% end %>
	<% if can? :update, User %>
		<%= link_to users_path, :class => "" do %>
			<article class="grid__item one-whole portable-one-whole tile--flat">
				<h2>Users</h2>
				<i class="icon-user tile__icon"></i>
			</article>
		<% end %>
	<% end %>
	<%= link_to "#", :class => "" do %>
		<article class="grid__item one-whole tile--flat">
			<h2>API Docs</h2>
			<i class="icon-book tile__icon"></i>
		</article>
	<% end %>
</div>
