<%= form_for @scientist, :html => { :id => "scientist_form" } do |f| %>
	<% #f.error_notification %>
	<section name="Basic Information">
		<div>
			<h1>Basic Information</h1>
			<p>description</p>
		</div>
	<fieldset>
		<div class="formField">
			<%= f.label :first_name, "First Name"%>
			<%= f.text_field :first_name, placeholder: "First Name" %>
		</div>
		<div class="formField">
			<%= f.label :last_name, "Last Name"%>
			<%= f.text_field :last_name, placeholder: "Last Name" %>
		</div>
		<div class="formField">
			<%= f.label :title, "Primary Scientist Title" %>
			<%= f.text_field :title, placeholder: "Primary Scientist Title" %>
		</div>
		<div class="formField">
			<%= f.label :picture, "Upload a Picture" %>
			<%= f.file_field :picture, placeholder: "Upload Picture" %>
		</div>
			<%= f.hidden_field :picture_cache %>
		<div>
			<%= f.label :remote_picture_url, "Or Use an Image URL" %>
			<%= f.text_field :remote_picture_url %>
		</div>
		<div class="formField">
			<%= f.label :slug, "URL Slug" %>
			<%= f.text_field :slug, placeholder: "URL Slug" %>
		</div>

	</fieldset>
	</section>

	<%= f.fields_for :profile do |p| %>
		<%= render "profile_fields", :p => p %>
	<% end %>
	<%= f.fields_for :websites do |w| %>
		<%= render "websites_fields", :w => w %>
	<% end %>
	<div class="form-actions">
		<%= f.button :submit %>
	</div>
<% end %>
