<article class="scientistUnit grid__item" id="scientist--<%= scientist.slug %>">
	<div class="scientistCard">
		<a href="/scientist/<%=scientist.id%>">
			<span class="scientistCard__name"><%=scientist.first_name%> <%=scientist.last_name%></span><br>
			<img src="<%= scientist.picture_url%>" class="scientistCard__thumb">
		</a>
		<% if can? :update scientist %>
			<section class="scientistCard__buttonGroup">
				<%= link_to 'Edit', edit_scientist_path(scientist), :class =>"button--blue" %>
				<%= link_to 'Show', scientist, :class => "button" %>
			</section>
		<% end %>
	</div>
</article>