<div class="scientistUnit grid__item" id="scientist--<%= scientist.slug %>">
	<article class="scientistCard">
		<a href="" title="">    
			<img src="" class="scientistCard__thumb">
			<span class="scientistCard__name"><%=scientist.first_name%> <%=scientist.last_name%></span>
		</a>
	</article>
	<article class="buttonGroup">
		<a href="" class="">
			<%= link_to 'Edit', edit_scientist_path(scientist) %>
		</a>
		<a href="" data-name="" class="">
			<%= link_to 'Show', scientist %>
		</a>
	</article>
</div>