<article class="scientistUnit grid__item" id="scientist--<%= scientist.slug %>">
	<div class="scientistCard">
		<a href="/scientist/<%=scientist.id%>">
			<span class="scientistCard__name"><%=scientist.first_name%> <%=scientist.last_name%></span><br>
			<img src="<%= scientist.picture_url%>" class="scientistCard__thumb">
		</a>
		<section class="scientistCard__buttonGroup">
			<%= link_to 'Edit', edit_scientist_path(scientist), :class =>"btn" %>
			<%= link_to 'Show', scientist, :class => "btn--blue" %>
		</section>
	</div>
</article>