<div class="mainContent--scientist grid">
	<article class="grid__item one-sixth lap-two-thirds">
		<%= image_tag @scientist.picture_url, :class => "profile__img" %>
	</article>
	
	<article class="grid__item one-sixth lap-one-whole">&nbsp;</article>
	<article class="grid__item two-thirds lap-one-whole">	
		<h1><%= @scientist.first_name %> <%= @scientist.last_name %></h1>
		<h2><%= @scientist.title %></h2>
	</article>

	<article class="grid__item one-half scientist__address lap-one-whole">
		<h3>Location Information</h3>
		<%= @scientist.profile.company %><br>
		<%= @scientist.profile.address1 %><br>
		<%= @scientist.profile.address2 %><br>
		<%= @scientist.profile.city %>, <%= @scientist.profile.state %> <%= @scientist.profile.zip_code %> USA
	</article>
	<article class="grid__item one-half scientist__location lap-one-whole">
		<h3>Contact Information</h3>
		Primary Number: <%= @scientist.profile.phone1 %><br>
		<%= @scientist.profile.phone2_type %>: <%= @scientist.profile.phone2 %><br>
		E-Mail: <%= @scientist.profile.email %><br>

		
	</article>
	<section class="scientist__bio">
		<article class="grid__item one-half scientist__emphasis lap-one-whole">
			<h3>Research Emphasis:</h3>
			<p>
				<%= @scientist.profile.emphasis %>
			</p>
		</article>
		<article id="scientist__summary" class="grid__item one-half lap-one-whole">
			<h3>Summary:</h3>
			<p>
				<%= @scientist.profile.summary %>
			</p>
		</article>
	</section>
<%= link_to 'Edit', edit_scientist_path(@scientist) %> |
<%= link_to 'Back', scientists_path %>

</div>


<!--
<div class="mainContent">
	<section id="scientist__info">
		<%= image_tag @scientist.picture_url %>
		<h2>{{prefix}} {{first_name}} {{last_name}}</h2>
		<h3>{{scientist_title}}</h3>
		<article>
			{{{positions_held}}}
		</article>
	</section>
	<section class="scientist__contact">
		<a href="{{department_url}}" title="{{department}}">
			{{department}}
		</a>
		<br>
		<br>
		<article class="scientist__address">
			<h3>Contact info:</h3>
			{{company}}<br>
			{{address1}}<br>
			{{address2}}<br>
			{{city}}, {{state}} {{zip_code}} USA<br>
		</article>
		<article class="scientist__location">
			{{#location}}
				<span id="location_html">{{{location}}}</span>
			{{/location}}
		</article>
		<table class="scientist__communication">
			<tr>
				<td>Primary Phone:</td>
				<td><a href="tel://{{phone1}}">{{phone1}}</a></td>
			</tr>
			{{#phone2}}
				<tr>
					<td>{{phone2_type}}:</td> 
					<td><a href="tel://{{phone2}}">{{phone2}}</a><td>
				</tr>
			{{/phone2}}
			<tr>
				<td>E-mail:</td>
				<td><a href="mailto:{{email}}">{{email}}</a></td>
			</tr>
		</table>
		<article class="scientist__web">
			{{#webname1}}
				<br>
				<h3>Websites:</h3><br>
				<a href="{{weburl1}}">{{webname1}}</a><br>
				{{/webname1}}
			{{#webname2}}
				<a href="{{weburl2}}">{{webname2}}</a><br>
			{{/webname2}}
		</article>
	<section class="scientist__bio">
		<article class="scientist__emphasis">
			<h3>Research Emphasis:</h3>
			<span id="emphasis_html">{{{emphasis}}}</span>
		</article>
		<article id="scientist__summary">
			{{#summary}}
				<h3>Summary:</h3>
				<span id="summary_html">{{{summary}}}</span>
			{{/summary}}
		</article>
		<article class="scientist__publications">
			<a href="{{publications_url}}" target="_blank">Publications</a>
		</article>
	</section>
</div>
-->


