<div class="mainContent--site grid">
	<div class="profile__head" style="">
		<article class="grid__item one-quarter portable-one-whole">
			<%= image_tag @scientist.picture_url, :class => "profile__img" %>
		</article>

		<section class="profile__name grid__item three-quarters lap-one-whole">
			<h1><%= @scientist.first_name %> <%= @scientist.last_name %></h1>
			<h2><%= @scientist.title %></h2>
			<!-- This needs to be associated to scientist__titles model -->
			<article class="profile__titles grid__item one-half hidden-palm">
					<ul>
						<% for title in @scientist.titles %>
							<li><%= title.title %></li>
						<% end %>
					</ul>
			</article>
			<article class="profile__websites grid__item one-half hidden-palm">
				<h4>Websites:</h4>
				<ul>
					<% for website in @scientist.websites %>
						<li><a href="<%= website.url %>"><%= website.name %></a></li>
					<% end %>
				</ul>
			</article>
		</section>
	</div>
	<section class="profile__contact grid__item one-third portable-one-whole">

		<article class="profile__address grid__item one-whole lap-one-half palm-one-whole">
			<h3>Location Information</h3>
			<%= @scientist.profile.company %><br>
			<%= @scientist.profile.address1 %><br>
			<%= @scientist.profile.address2 %><br>
			<%= @scientist.profile.city %>, <%= @scientist.profile.state %> <%= @scientist.profile.zip_code %> USA
		</article>

		<article class="profile__location grid__item one-whole lap-one-half palm-one-whole">
			<h3>Contact Information</h3>
			Primary Number: <%= @scientist.profile.phone1 %><br>
			<%= @scientist.profile.phone2_type %>: <%= @scientist.profile.phone2 %><br>
			E-Mail: <%= @scientist.profile.email %><br>
		</article>

	</section>
	<section class=" profile__bio grid__item two-thirds lap-one-whole">
		<article class="profile__emphasis">
			<h3>Research Emphasis:</h3>
			<p>
				<%=raw @scientist.profile.emphasis %>
			</p>
		</article>
		<% if @scientist.profile.summary != "" %>
		<article id="scientist__summary" class="profile__summary">
			<h3>Summary:</h3>
			<p>
				<%=raw @scientist.profile.summary %>
			</p>
		</article>
		<% end %>
	</section>
	<% if can? :update, @scientist %>
		<%= link_to 'Edit', edit_scientist_path(@scientist) %>
	<% end %>
	<%= link_to 'Back', scientists_path %>

</div>


<!--
<div class="mainContent">
	<section id="scientist__info">
		<%= image_tag @scientist.picture_url %>
		<h2>{{prefix}} {{first_name}} {{last_name}}</h2>
		<h3>{{scientist_title}}</h3>
		<article>
			{{{positions_held}}}
		</article>
	</section>
	<section class="scientist__contact">
		<a href="{{department_url}}" title="{{department}}">
			{{department}}
		</a>
		<br>
		<br>
		<article class="scientist__address">
			<h3>Contact info:</h3>
			{{company}}<br>
			{{address1}}<br>
			{{address2}}<br>
			{{city}}, {{state}} {{zip_code}} USA<br>
		</article>
		<article class="scientist__location">
			{{#location}}
				<span id="location_html">{{{location}}}</span>
			{{/location}}
		</article>
		<table class="scientist__communication">
			<tr>
				<td>Primary Phone:</td>
				<td><a href="tel://{{phone1}}">{{phone1}}</a></td>
			</tr>
			{{#phone2}}
				<tr>
					<td>{{phone2_type}}:</td>
					<td><a href="tel://{{phone2}}">{{phone2}}</a><td>
				</tr>
			{{/phone2}}
			<tr>
				<td>E-mail:</td>
				<td><a href="mailto:{{email}}">{{email}}</a></td>
			</tr>
		</table>
		<article class="scientist__web">
			{{#webname1}}
				<br>
				<h3>Websites:</h3><br>
				<a href="{{weburl1}}">{{webname1}}</a><br>
				{{/webname1}}
			{{#webname2}}
				<a href="{{weburl2}}">{{webname2}}</a><br>
			{{/webname2}}
		</article>
	<section class="scientist__bio">
		<article class="scientist__emphasis">
			<h3>Research Emphasis:</h3>
			<span id="emphasis_html">{{{emphasis}}}</span>
		</article>
		<article id="scientist__summary">
			{{#summary}}
				<h3>Summary:</h3>
				<span id="summary_html">{{{summary}}}</span>
			{{/summary}}
		</article>
		<article class="scientist__publications">
			<a href="{{publications_url}}" target="_blank">Publications</a>
		</article>
	</section>
</div>
-->


