<nav class="sideNav--fixed">
    <div class="sideNav--fixed__header">
        <%= link_to home_path, :class => "sideNav--fixed__header" do %>
            <i class="icon-leaf icon-large"></i>
            PBD Portal<br>
        <% end %>
    </div>
    <div class="sideNav--fixed__linkGroup">
        <%= link_to scientists_path, :class => "sideNav--fixed__link" do %>
            <i class="icon-beaker right"></i> Scientists
        <% end %>
    </div>
    <% if can? :manage, User %>
        <div class="sideNav--fixed__linkGroup">
            <%= link_to users_path, :class => "sideNav--fixed__link" do %>
                <i class="icon-group right"></i> Users 
            <% end %>
        </div>
    <% end %>
    <% if can? :update, Video %>
        <div class="sideNav--fixed__linkGroup">
            <%= link_to videos_path, :class => "sideNav--fixed__link" do %>
               <i class="icon-play-sign right"></i> Videos
            <% end %>
        </div>
    <% end %>
    <% if can? :update, News %>
        <div class="sideNav--fixed__linkGroup">
            <%= link_to news_index_path, :class => "sideNav--fixed__link" do %>
                <i class="icon-rss-sign right"></i> News
            <% end %>
        </div>
    <% end %>
    <% if current_user %>
        <div class="sideNav--fixed__linkGroup">
            <%= link_to logout_path, :class => "sideNav--fixed__link" do %>
                <i class="icon-signout right"></i> Log Out 
            <% end %>
        </div>
    <% else %>
        <div class="sideNav--fixed__linkGroup">
            <%= link_to login_path, :class => "sideNav--fixed__link" do %>
                <i class="icon-signin right"></i> Log in 
            <% end %>
        </div>
    <% end %>
</nav>