<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<%= csrf_meta_tags %>

	<title><%= content_for?(:title) ? yield(:title) : "PBD Portal" %></title>
	<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "LBNL Physical Biosciences Division Portal"%>">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<!--
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	-->
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag params[:controller] %>
	<%= stylesheet_link_tag params[:controller] %>
	<%= yield(:head) %>
</head>
<body class="<%= controller_name %>" data-action="<%= action_name %>">
	<header class="mainHeader">
		<%= render 'layouts/messages' %>
		<h1>Welcome to The Portal</h1>
	</header>
	<%= render 'layouts/navigation' %>
	<div class="main-content">
		<%= yield %>
	</div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
-->
</body>
</html>